@layout Layout

@page "/build"

<h5 id="build-section">Implants</h5>
<hr class="border-secondary" style="margin-top: 0;" />

<ImplantsComponent Model="AppState.Implants"></ImplantsComponent>

<h5 style="margin-top: 32px;">Stats &amp; Buffs</h5>
<hr class="border-secondary" style="margin-top: 0;" />

<div class="row">
  <div class="col-md-8">
    <StatsComponent Model="AppState.Stats"></StatsComponent>
  </div>

  <div class="col-md-4">
    <hr class="border-secondary d-block d-sm-block d-md-none" />

    <BuffsComponent Model="AppState.Buffs" ModelChanged="@AppState.Stats.Apply"></BuffsComponent>
  </div>
</div>

<hr class="border-secondary" style="margin: 32px 0;" />

<NavLink href="/ladder" class="btn btn-primary btn-lg float-right">Ladder &gt;</NavLink>
