@layout Layout

@page "/build"

@functions {
  protected void HandleAlgorithmChanged(UIChangeEventArgs args)
  {
    AppState.UseAdvancedLadderProcess = Convert.ToBoolean(args.Value);
    AppState.InvalidateLadder();
  }
}

<BuildComponent Model="AppState.Build" ModelChanged="AppState.InvalidateLadder"></BuildComponent>

<hr class="border-secondary" />

<label class="float-left">
  <input type="checkbox" checked="@AppState.UseAdvancedLadderProcess" onchange="@HandleAlgorithmChanged" />
  Use slow algorithm for slightly better implant QL
</label>

<NavLink href="/ladder" class="btn btn-primary btn-lg float-right">Ladder &gt;</NavLink>
