@page "/build"
@inject AppState appState

<Build Model="appState.Build" ModelChanged="appState.InvalidateLadderProcess"></Build>

<hr class="border-secondary" />

<NavLink href="ladder" class="btn btn-primary btn-lg float-right">
  Ladder <span class="oi oi-chevron-right"></span>
</NavLink>
