@layout Layout

@page "/ladder"

@inject AppState Model

@functions {
    protected override Task OnInitAsync()
      => Task.Run(Model.InitializeLadder);
}

<h5>Insert implants in order, removing previous implants only when necessary</h5>

@if (Model.Ladder != null)
{
  <LadderComponent Model="Model.Ladder"></LadderComponent>

  <p>
    <strong>Final implant average QL:</strong> @(Model.Ladder.AverageFinalImplantQL.ToString("N"))
  </p>
}

<hr class="border-secondary" />

<NavLink href="/build" class="btn btn-primary btn-lg float-left">
  <span class="oi oi-chevron-left"></span> Build
</NavLink>

<NavLink href="/shopping" class="btn btn-primary btn-lg float-right">
  Shopping <span class="oi oi-chevron-right"></span>
</NavLink>
