@layout Layout

@page "/ladder"

@functions {
    protected override Task OnInitAsync()
      => Task.Run(AppState.InitializeLadder);
}

<h5>Insert implants in order, removing previous implants only when necessary</h5>

@if (AppState.Ladder != null)
{
  <LadderComponent Model="AppState.Ladder"></LadderComponent>

  <p>
    <strong>Final implant average QL:</strong> @(AppState.Ladder.AverageFinalImplantQL.ToString("N"))
  </p>
}

<hr class="border-secondary" />

<NavLink href="/build" class="btn btn-primary btn-lg float-left">&lt; Build</NavLink>
<NavLink href="/shopping" class="btn btn-primary btn-lg float-right">Shopping &gt;</NavLink>
