@inherits BlazorLayoutComponent

<div class="container">
  <nav class="navbar navbar-light navbar-expand bg-primary rounded-bottom">
    <a class="navbar-brand" href="/">
      <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top"> &nbsp; AO Ladderer
    </a>

    <div class="navbar-collapse justify-content-end">
      <nav class="navbar-nav">
        <ExportToAunoComponent></ExportToAunoComponent>
        <CopyPermalinkComponent></CopyPermalinkComponent>
      </nav>
    </div>
  </nav>

  <nav class="nav nav-tabs nav-fill">
    <NavLink href="/build" class="nav-link nav-item">Build</NavLink>
    <NavLink href="/ladder" class="nav-link nav-item">Ladder</NavLink>
    <NavLink href="/shopping" class="nav-link nav-item">Shopping</NavLink>
  </nav>

  <div class="nav-page border-left border-bottom border-right border-secondary rounded-bottom">
    @Body

    <div class="clearfix"></div>
  </div>
</div>
