@layout Layout

@inject AppState Model

@page "/shopping"

@functions {
    protected override Task OnInitAsync()
      => Task.Run(Model.InitializeLadder);
}

@if (Model.Shopping != null)
{
  <ShoppingComponent Model="Model.Shopping"></ShoppingComponent>
}

<hr class="border-secondary" />

<NavLink href="/ladder" class="btn btn-primary btn-lg float-left">
  <span class="oi oi-chevron-left"></span> Ladder
</NavLink>
