<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AOLadderer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <AOLadderer.UI.Properties.Settings>
            <setting name="MainViewHeight" serializeAs="String">
                <value>732</value>
            </setting>
            <setting name="MainViewWidth" serializeAs="String">
                <value>762</value>
            </setting>
            <setting name="MainViewTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainViewLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="LadderCheckboxColumnWidth" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="LadderQLColumnWidth" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="LadderSlotColumnWidth" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="LadderShinyColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LadderBrightColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="LadderFadedColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ShoppingShinyMinQLColumnWidth" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ShoppingShinyStatColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ShoppingShinyCheckboxColumnWidth" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="ShoppingBrightMinQLColumnWidth" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ShoppingBrightStatColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ShoppingBrightCheckboxColumnWidth" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="ShoppingFadedMinQLColumnWidth" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ShoppingFadedStatColumnWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ShoppingFadedCheckboxColumnWidth" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="LadderReqColumnWidth" serializeAs="String">
                <value>36</value>
            </setting>
        </AOLadderer.UI.Properties.Settings>
    </userSettings>
</configuration>
