<div class="jumbotron text-center">
  <h5 class="display-4">Nothing yet.</h5>
  <p class="lead">Enter <NavLink href="build" class="text-muted">implants / stats</NavLink> before viewing this tab.</p>
</div>