@inject IUriHelper UriHelper
@inject AppState Model

@functions {
    bool WasJustCopied { get; set; }

    protected async Task HandleClick()
    {
      Uri url = UriHelper.ToAbsoluteUri($"/permalink?{Model.Build.UrlTokenSerialize()}");
      WasJustCopied = await JSRuntime.Current.InvokeAsync<bool>("copyToClipboard", url.ToString());
    }

    protected void HandleMouseOut()
    {
      WasJustCopied = false;
    }
}

<a class="nav-link nav-item" style="cursor: pointer;" onclick="@HandleClick" onmouseout="@HandleMouseOut" >
  <span class="oi @(WasJustCopied ? "oi-check" : "oi-link-intact")"></span> Copy permalink
</a>
