<div class="jumbotron text-center">
  <h5 class="display-4">
    Loading<span class="animate--pulse-1">.</span><span class="animate--pulse-2">.</span><span class="animate--pulse-3">.</span>
  </h5>
  <p class="lead">Sorry, this could take a few minutes.</p>
</div>