@functions {
    [Parameter] Stats Stats { get; set; }

    protected override void OnInit()
    {
        Stats.OnChange += StateHasChanged;
    }
}

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="stats-config-strength">Strength</label>
    <input id="stats-config-strength" type="number" class="form-control" bind="Stats.Strength" />
  </div>
  <div class="form-group col-md-6">
    <label for="stats-config-agility">Agility</label>
    <input id="stats-config-agility" type="number" class="form-control" bind="Stats.Agility" />
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="stats-config-stamina">Stamina</label>
    <input id="stats-config-stamina" type="number" class="form-control" bind="Stats.Stamina" />
  </div>
  <div class="form-group col-md-6">
    <label for="stats-config-intelligence">Intelligence</label>
    <input id="stats-config-intelligence" type="number" class="form-control" bind="Stats.Intelligence" />
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="stats-config-sense">Sense</label>
    <input id="stats-config-sense" type="number" class="form-control" bind="Stats.Sense" />
  </div>
  <div class="form-group col-md-6">
    <label for="stats-config-psychic">Psychic</label>
    <input id="stats-config-psychic" type="number" class="form-control" bind="Stats.Psychic" />
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="stats-config-treatment">Treatment</label>
    <input id="stats-config-treatment" type="number" class="form-control" bind="Stats.Treatment" />
  </div>
</div>
